<body>
<div class="con1">
<span class="text-welcome">
                <p> Olá, meu nome é <br>
                        <b style="font-size: 40px;">Emanuel Raimundo</b><br>
                        E seja bem vindo ao meu portifólio!<br> 
                        Aqui destaco alguns trabalhos, expêriencias e um pouco da minha história até o dia de hoje. <br><br>
                        Vamos lá?
                    </p>
                    <section>   
                        <a href="#"> <img class="seta" src="assets/complementos/arrow.png"> </a>
                    </section>
                
        </span>
</div>
</body>