@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');
*{
    font-family: 'Roboto Serif', sans-serif;
}
.main{
    background-color: aqua;
    width: 100%;
    height: 920px;
}
.Tmain{
    width: 75%;
    padding: 5% 0 1% 12.5%;
    text-align: center;
    line-height: 1.3;
    font-family: 'Roboto Serif', sans-serif;
    font-size: 25px;
}

/* AQUI EM BAIXO VAI TER IMAGEM*/
