<!--Página principal-->
<div class="main" id="sobre">
    <p class="tex"> 
        Agora, quem é Emanuel ? Fique a vontade para ler um pouco sobre minha pessoa.
    </p>

    <div class="St">
        
        <img class="img" src="assets/sobre/emanuel.jpg">
        
        <p class="sobre"> Olá, meu nome é Emanuel e tenho 21 anos, filho de pais separados, residindo em Natal, Rio grande do Norte, e apesar de ser um local conhecido por praias eu não costumo ir a elas, gosto pessoal. Tenho um gato que se chama "Dog" e um cachorro que se chama "Owen", sim, eu pensei em ser "Cat" mas não combinava muito. <br/> <br/>
            Desde de criança fui sempre o nerd que todo mundo chamava para conserta o computador, celular e alguns outros eletrônicos, sempre na internet, sempre curioso e tentando entender o porquê existem páginas web, softwares, O.S e como que eram feitos, o mundo das tecnologias sempre fizeram parte da minha vida, algumas pessoas até tinham um pouco de desconfiança sobre mim achando que iria hackear o facebook delas e trocar a cor, nunca cheguei a esse ponto, trocar a cor do facebook é um mito e eu sou a prova. <br/> <br/>
            Então dos meus 10 anos de idade até meus 16 eu olhava todo aquele conhecimento, mas não aplicava, foi aí que conheci o Instituto federal, mais precisamente o curso de informática para internet, e desde então eu não parei e fui trabalhando minhas habilidades, esse site é uma prova disso. 
            Bem, espero que já sejamos mais próximos depois disso, qualquer coisa é só me contatar e vamos fazer aquele job, obrigado por ter acessado.</p>
    
    </div>
    
    <section>   
        <a href="#contatos"> <img class="seta" src="assets/complementos/arrow.png"> </a>
    </section>
    
</div>
