<div class="main" id="contatos"> 

        <p class="tex"> Muito obrigado por ter visualizado meu portfólio, caso queira entrar em contato, aqui estão algumas formas! </p>
        <a class="tif" target="_blank" href="https://www.facebook.com/Emanuel.lima.Grr/"> <img class="fit" src="assets/contatos/facebook.png"> </a>
        <a class="tif" target="_blank" href="https://github.com/EmanuelRLima"> <img class="fit" src="assets/contatos/git.png">
        <a class="tif" target="_blank" href="https://www.linkedin.com/in/emanuel-lima-85959920a/"> <img class="fit" src="assets/contatos/in.png">
        <a class="tif" target="_blank" href="https://twitter.com/Spryler"> <img class="fit" src="assets/contatos/twitter.png">
        <a class="tif" target="_blank" href="https://api.whatsapp.com/send?phone=5584999220492"> <img class="fit" src="assets/contatos/wpp.png">
        <a class="tif" target="_blank" href="https://t.me/Spryler"> <img class="fit" src="assets/contatos/telegram.png">


